{#
/**
 * @file layout_fieldable_entity.html.twig
 * Default theme implementation to present Layout Fieldable Entity data.
 *
 * This template is used when viewing Layout Fieldable Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_layout_fieldable_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('layout_fieldable_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
